.cart {
 border-radius: 1px;
 height:100%;
 display: flex;
 flex-direction: column;
    &__img {
        width: 180px;
        border-radius: 7px;
    }
    &__orderProducts {
     display: flex;
     justify-content: center;
     align-items: center;
    }
    &__info {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1%;
        border: 1px solid #cfcdcd;
        margin: 10px;
        border-radius: 10px;
    }
    &__additionally {
        text-align: center;
    }
}