.cart {
 border-radius: 1px;
 height:100%;
 display: flex;
 flex-direction: column;
    &__img {
        width: 180px;
        border-radius: 7px;
    }
    &__orderProducts {
     display: flex;
     justify-content: center;
     align-items: center;
    }
    &__info {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1%;
        border: 1px solid #cfcdcd;
        margin: 10px;
        border-radius: 10px;
    }
    &__additionally {
        text-align: center;
    }

    &__btn {
        background-color: #cb11ab;
        border: 2px solid #cb11ab;
        color: white;
        font-size: 'Roboto';
        width: 150px;
        padding: 5px;
        height: 35px;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin: 10px;
        text-decoration: none;
        white-space: nowrap;
        border-radius: 12px;
    }
}