.creditCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    &__forms {
        margin-top: 22px;
        display: flex;
        flex-direction: column;
        & input {
            margin: 10px;
            height: 35px;
            width: 235px;
        }
    }
    &__message {
        margin: 15px;
       
        font-size: 35px;
        color: #cb11ab;
    }
    &__btn {
        background-color: #cb11ab;
        border: 2px solid #cb11ab;
        color: white;
        font-size: 'Roboto';
        width: 180px;
        height: 35px;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin: 10px;
        &:hover {
            transform: scale(1.1);
            transition-duration: 0.5s;
            background-color: #a70f8d;

        }
        &__controlls {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
    }
}