.MainPage {
    height:100%;
   &__container {
    display: flex;
   }
    &__filterContainer {
        display: flex;
        flex-direction: column;
        height:100%;
        align-items: center;
        justify-content: center;
        width:15%;
        padding-top: 10%;
        
    }
    &__container {
        display: flex;
        flex-direction: row;
        position: relative;
        
    }
}