.itemlist {
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    &__container {
        text-align: center;
        justify-content: center;
        font-family: 'Roboto', sans-serif; 
        flex-wrap: wrap;  
        gap:6%;
        letter-spacing: 0.4;
        display: flex;
        
        
    }

    &__addtoCart {
        cursor: pointer;
        background-color: #fc0;
        border-radius: 13px;
        padding:8px;
        user-select: none;
    }

    &__card {
        margin:5px;
        max-width:190px;
    }

    &__name {
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: 800;
        margin:5px;
        white-space: nowrap;
        font-size: 13px;
        color: #9d9da5;
    }

    &__price {
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: bolder;
    }

    &__img {
        width:180px;
        border-radius: 5px;
    }

    &__info {
        font-size: 17px;
        padding:3px;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
}